@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

html,
body {
  height: 100%;
}

body {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  background-color: #d1d0d0;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  margin: 0;
  padding: 20px;
}

.main-calculator {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 570px;
  background-color: #5900cf;
}

.display {
  width: 335px;
  height: 90px;
  margin: 0px auto 0px;
}

.previous-display {
  box-sizing: border-box;
  text-align: end;
  font-size: 24px;
  padding: 5px;
  width: 335px;
  height: 40px;
  background-color: #edeed1;
}

.current-display {
  box-sizing: border-box;
  text-align: end;
  font-size: 30px;
  font-weight: 900;
  padding: 5px;
  width: 335px;
  height: 50px;
  background-color: #edeed1;
}

.display-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

button {
  font-family: "Space Grotesk";
  background-color: #af8cde;
  color: #000000;
  border: 1px solid #5900cf;
  cursor: pointer;
  margin: 0;
  width: 83.75px;
  height: 72px;
  font-size: 20px;
  font-weight: 900;
}

button:hover {
  background-color: #edeed1;
}

.delete-btn {
  background-color: #f12424;
}

.white {
  background-color: white;
}

.color {
  background-color: rgb(221, 71, 184);
}
